<div class="shell">
    <div class="container">
        <div class="row">
            <abn-topbar
                [routes]="routes"
                (colorThemeChanged)="setColorTheme($event)"
            ></abn-topbar>
        </div>
        <!-- <div class="row">
            <abn-dismissable-alert
                [alertType]="alertType"
                [topic]="topic"
                [message]="message"
            ></abn-dismissable-alert>
        </div> -->
        <div class="row mt-4 ms-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
